<div *ngIf="!loginCredentials">
  <label>username:
    <input #userName />
  </label>
  <br/><br/>
  <label>password:
    <input #password />
  </label>
  <br/>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="setCredentials(userName.value, password.value); userName.value=''; password.value=''">
    login
  </button>
</div>

<h2>
  List of users
</h2>

<ul class="users">
  <li *ngFor="let user of users">
  <!-- <li *ngFor="let user of users" (click)="onSelect(user)"> -->
    <a>
    <!-- <a routerLink="/detail/{{user.id}}"> -->
      <span class="badge">{{user.id}}</span> {{user.name}}
    </a>
    <button class="delete" title="delete user" (click)="delete(user)">x</button>
    <button class="delete" title="edit user" (click)="onSelect(user)">edit</button>
  </li>
</ul>

<button *ngIf="!showNewUserInputs" (click)="newUser()">
  new user
</button>

<div *ngIf="showNewUserInputs">
  <h4>
    Add new user
  </h4>
  <label>name:
    <input #name />
  </label>
  <br/><br/>
  <label>nick:
    <input #username />
  </label>
  <br/><br/>
  <label>password:
    <input #password />
  </label>
  <button (click)="add(name.value, username.value, password.value); name.value='';username.value='';password.value=''">
    add
  </button>
</div>
<br/><br/>

<app-user-detail *ngIf="selectedUser" [user]="selectedUser" (valueChange)="refresh()"></app-user-detail>