<div *ngIf="user">
  <h3>{{ user.name | uppercase }} details, you can change name</h3>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
      <!-- <input [(ngModel)]="user.name" placeholder="name"/> -->
      <input [ngModel]="user.name" (change)=save($event.target.value) placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button>save</button>
 <!-- <button (click)="save()">save</button> -->
</div>